body {
  font-family: Arial, sans-serif;
}
form {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.icon {
  position: sticky;
/*  float: left;*/
  top: 1.2em;
  left: 1.2em;
  width: 4em;
  height: 4em;
  padding: .7em;
}

.search_icon {
  position:sticky;
/*  float: right;*/
  top: 3em;
  right: 0em;
  width: 1.2em;
  height: 1.2em;
  padding: .1em;
}

.main_icon {
  position: sticky;
/*  float: left;*/
  top: 1.6em;
  left: 1.6em;
  width: 7.8em;
  height: 7.8.4em;
  padding: .8em;

}
.tulasi-pic{
  color: green
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
h1 {
  font-size: 4em;
  margin-bottom: 20px;
}
p {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 50px;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
form button{
  background-color: transparent;
  color:white;
  border: none; 
}